<launch>

  <!-- load planning -->
  <include file="$(find reem_arm_navigation_planning)/launch/ompl_planning.launch"/>

  <!-- load planning_environment -->
  <include file="$(find reem_arm_navigation_actions)/launch/upper_body_environment_server.launch"/>

  <!-- load filters -->
  <include file="$(find reem_arm_navigation_filtering)/launch/trajectory_filter.launch"/>

</launch>
