<launch>
  <rosparam command="load" ns="robot_description_planning" file="$(find reem_arm_navigation)/config/reem_planning_description.yaml" />

  <!-- If the RGBD sensor is used, add additional collision operations -->
  <arg name="use_rgbd_sensor" value="$(optenv USE_RGBD_SENSOR false)" />
  <group if="$(arg use_rgbd_sensor)">
    <rosparam command="load"
              ns="robot_description_planning"
              file="$(find reem_arm_navigation)/config/head_mount_xtion_collision_operations.yaml" />
  </group>
</launch>
