
<launch>
  <!-- send parameters for collision checking for Reem-H1; this includes parameters for the self filter -->
  <rosparam command="load" ns="robot_description_collision" file="$(find reem_arm_navigation_config)/config/collision_checks_both_arms.yaml" />

  <!-- send parameters for multidof -->
  <rosparam command="load" ns="robot_description_planning" file="$(find reem_arm_navigation_config)/config/multi_dof_joints.yaml" />

  <!-- send parameters needed for motion planning -->
  <rosparam command="load" ns="robot_description_planning" file="$(find reem_arm_navigation_config)/config/planning_groups.yaml" />
</launch>
